.container
{
    display: grid;
    width: 100vh;
    grid-template-columns: 350px 350px 150px;
    grid-template-rows: 100px 300px 300px 300px;
    grid-gap: 25px 25px;   
    margin: auto;
    grid-template-areas: 
    "hd hd"
    "fb fb"
    "ml mr"
    "ml mr"
    "ft ft";      
}

.header
{
    grid-area: hd;
    gap: 150px;
    position: relative;
    align-items: center;
    margin: auto;
    padding: 0;
    
}

.figurebox
{
    grid-area: fb;
    margin: auto;
    align-content: center;
 
}

button 
{
        border-radius: 10px;  
        background-color: #44c9c5;
        padding: 10px;
        width: 85px;
        margin: 40px;
        text-align: center;
        align-items: center;
}

.mainleft
{
    grid-area: ml;
}

.mainright
{
    grid-area: mr;
}

.footer
{
    grid-area: ft;
}
@media(min-width: 1px) and (max-width:301px)
{
.container
    {
        display: grid;
        width: 100%;
        grid-template-columns: 250px;
        grid-template-rows: 200px 400px 220px 200px;
        grid-template-areas: 
        "hd"
        "fb"
        "ml"
        "ml" 
        "mr"
        "mr"
        "ft";        
    }
}  

@media(min-width: 801px) and (max-width:1300px)
{
.container
    {
        display: grid;
        width: 100%;
        grid-template-columns: 150px 300px;
        grid-template-rows: repeat(200px, 4);
        grid-gap: 25px;   
        margin: auto;
        grid-template-areas: 
        "hd hd hd hd"
        "fb fb fb fb"
        "ml ml mr mr"
        "ml ml mr mr"
        "ft ft ft ft";  
    } 
}
